:root
{
--primary: #fff;
--secondary: #a2a2a2;
--accent: #00d200;
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    background-image: linear-gradient(90deg, #2c2c2e, #151517);
    font-family: 'Poppins', sans-serif;
    color: var(--primary);  
    overflow: hidden;      
}

canvas
{
    width: 100%;
}

.text
{ 
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

small
{
    position: fixed;
    bottom: 2.5em;
    left: 4em;
    color: var(--secondary);
}

img
{
    position: fixed;
    left: 1em;
    bottom: 4em;
    width: 280px;
}
p
{
    text-align: center;
    margin-top: 300px;
    font-size: 1.5em;
}

a
{
    color: var(--accent);
    text-decoration: none;
}
small a:hover
{
    color: var(--primary);
}